<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Webshop</title>
</head>
<body>
<h1>Test show website</h1>

<form th:action="@{/search}" method="post" th:object="${product}">
    <p>Name:    <input type="text" th:field="*{name}">      </p>
    <p>         <input type="submit" value="Search">           </p>
</form>

<!--<div>-->
<!--    <h3>Produktsökning</h3>-->
<!--    <ul>-->
<!--        <th:block th:each="product : ${productlist}">-->
<!--            <li th:text="${product.name}"></li>  &lt;!&ndash; Visa produktens namn &ndash;&gt;-->
<!--        </th:block>-->
<!--    </ul>-->
<!--</div>-->


<p>Categories and products</p>
<ul th:each="p : ${productlist}">
    <li>
        <span th:text="${p.category}"/>,
        <span th:text="${p.name}"/>

    </li>

</ul>

</body>
</html>